<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styleJobApp.css">
  <title>Job App</title>
</head>

<body>
  <h1>Rajnikumar Tank</h1>
  <%var result=result || null %>
  <%if(result){%>
  <%- include('./components/form.ejs') %>
  <%}
  else{%>
  <a href="/jobApplicationWithoutAjax/insert" class="btn">New Application Form</a>
  <a href="/jobApplicationWithoutAjax/record" class="btn">Records</a>
  <%}%>
  <script src="/validation.js"></script>
  <script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.10.6/dist/sweetalert2.all.min.js "></script>
  <link href=" https://cdn.jsdelivr.net/npm/sweetalert2@11.10.6/dist/sweetalert2.min.css " rel="stylesheet">

</body>

</html>