<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Home</title>
</head>
<body>
    <h2>Welcome to All_Excercises</h2>
    <nav>
        <a href="dynamicTable">Dynamic Table</a>      
        <a href="kukukube">KUKU-KUBE</a>      
        <a href="tictactoe">TicTacToe</a>      
        <a href="tableOfEvents">Table Of Events</a>      
        <a href="applicationForm">Simple Application Form</a>      
    </nav>
</body>
</html>