<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Home</title>
</head>
<body>
    <h2>Welcome to All_Excercises</h2>
    <nav>
        <ul>
            <li>
                <a href="dynamicTable">Dynamic Table</a>      
            </li>
            <li>
                <a href="kukukube">KUKU-KUBE</a>      
            </li>
            <li>
                <a href="tictactoe">TicTacToe</a>      
            </li>
            <li>
                <a href="tableOfEvents">Table Of Events</a>
            </li>
            <li>
                <a href="applicationForm">Simple Application Form</a>      

            </li>
            <li>
                <a href="paginationGrid">Pagination Grid</a>  

            </li>
            <li>
                <a href="studentDetails">Student Attendence-Result</a>  

            </li>
            <li>
                <a href="dynamicGrid">Dynamic SQL grid</a>  

            </li>
            <li>
                <a href="delemiterSearch">Delimiter Search</a> 

            </li>
            <li>
                <a href="jsonPlaceHolder">JSON place Holder</a>

            </li>
            <li>
                <a href="/jobApplicationWithoutAjax">Job Application Form </a>

            </li>
            <li>
                <a href="ApplicationFormWithAJAX">Step wise Job Application Form </a>

            </li>
            <li>
                <a href="htmlTemplate1">HTML Template - ehya</a>

            </li>
            <li>
        <a href="htmlTemplate2">HTML Template - awanHoster</a>
                
            </li>
            <li>
                <a href="htmlTemplate3">HTML Template - hireX</a>

            </li>
        </ul>
              
    </nav>
</body>
</html>