<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style2.css">
  <title>Home</title>
</head>

<body>
  <%- include('monthFilter'); %>
  <%- include('pagination'); %>
  <a href="/studentDetails/clickForSearch">Click Here for Search</a>
  <a href="/studentDetails/result">Click Here for see Results</a>
  <%- include('attendence'); %>
</body>

</html>